{% extends 'base.html' %}
{% load static %}

{% block title %}
    Habitaciones
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'generales.css' %}">
{% endblock %}

{% block content %}
<div class="container">
<!-- Sección de Habitaciones -->
<div class="content-section" id="rooms">
    <h2>Nuestras Habitaciones</h2>    
    <div class="card-deck">
        {% for habitacion in habitaciones %}
            <div class="card">
                <img src="{{habitacion.imagen}}" class="card-img-top" alt="{{habitacion.tipoHabitacion}}">
                <div class="card-body">
                    <h3 class="card-title">
                        {{habitacion.tipoHabitacion}}
                    </h3>
                    <p class="card-text">
                        {{habitacion.descripcion}} <br>
                        <strong>Precio:</strong> ${{habitacion.precio}} <br>
                        <strong>Capacidad:</strong> {{habitacion.capacidad}} personas <br>
                        <strong>Disponibilidad:</strong> {{habitacion.disponibilidad}} <br>
                    </p>
                    <a href="#" class="btn">Ver Detalles</a>
                </div>
            </div>
        {% endfor %}       
    </div>
</div>
{% endblock %}