{% extends 'base.html' %}
{% load static %}

{% block title %}
    Servicios
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'generales.css' %}">
{% endblock %}

{% block content %}
<div class="container">
<!-- Sección de Servicios -->
<div class="content-section" id="services">

    <h2>Nuestros Servicios</h2>
    <p>Ofrecemos una variedad de servicios para hacer tu estancia en nuestro hotel más placentera.</p>
    
    <div class="card-deck">
        {% for servicio in servicios %}
            <div class="card">
                <img src="{{servicio.imagen}}" class="card-img-top" alt="{{servicio.tipoServicio}}">
                <div class="card-body">
                    <h3 class="card-title">
                        {{servicio.tipoServicio}}
                    </h3>
                    <p class="card-text">
                        {{servicio.descripcion}}
                    </p>
                    <p>
                        <strong>Precio:</strong> ${{servicio.costo}}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

