{% extends 'base.html' %}
{% load static %}

{% block title %}
    Servicios
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'generales.css' %}">
{% endblock %}

{% block content %}
<div class="container">
<!-- Sección de Servicios -->
<div class="content-section" id="services">

    <h2>Nuestros Servicios</h2>
    <p>Ofrecemos una variedad de servicios para hacer tu estancia en nuestro hotel más placentera.</p>
    
    <div class="card-deck">
        <!-- Tarjeta de Alimentacion -->
        <div class="card">
            <img src="https://www.abasturhub.com/img/blog/roomservice-op1_-roomservice-con-serv--1-.jpg" class="card-img-top" alt="Alimentacion">
            <div class="card-body">
                <h3 class="card-title">Alimentacion</h3>
                <p class="card-text">Servicio de comida a Habitación. Servicio rapido y de calidad</p>
            </div>
        </div>
        <!-- Tarjeta de Masaje -->
        <div class="card">
            <img src="https://www.kempinski.com/var/site/storage/images/9/0/7/0/390709-1-eng-GB/16d135c952b4-74460612_4K.jpg" class="card-img-top" alt="Masaje">
            <div class="card-body">
                <h3 class="card-title">Masaje</h3>
                <p class="card-text">Relájate y revitalízate con nuestros masajes profesionales.</p>
            </div>
        </div>
        <!-- Tarjeta de Estacionamiento -->
        <div class="card">
            <img src="https://i.pinimg.com/originals/78/c5/f8/78c5f881a99f3d326d5f05358998cd68.jpg" class="card-img-top" alt="Estacionamiento">
            <div class="card-body">
                <h3 class="card-title">Estacionamiento</h3>
                <p class="card-text">Estaciona con tranquilidad y disfruta de nuestro servicio de valet.</p>
            </div>
        </div>
        <!-- Tarjeta de SPA -->
        <div class="card">
            <img src="https://i.pinimg.com/originals/a1/ae/29/a1ae296603e2ce009a17cc4e4a326c32.jpg" class="card-img-top" alt="SPA">
            <div class="card-body">
                <h3 class="card-title">SPA</h3>
                <p class="card-text">Disfruta de un lugar comodo, en nuestro SPA y relaja tu cuerpo y mente.</p>
            </div>
        </div>
        <!-- Tarjeta de Piscina -->
        <div class="card">
            <img src="https://www.hotelvinasqueirolo.com/v02/images/piscina-descanso.jpg" class="card-img-top" alt="Piscina">
            <div class="card-body">
                <h3 class="card-title">Piscina</h3>
                <p class="card-text">Disfruta de nuestra espectacular piscina al aire libre.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}